.primary-button {
  @apply px-4 py-2 bg-primary text-test rounded text-base shadow-sm shadow-primary text-center hover:bg-primary/80;
}

.secondary-button {
  @apply px-4 py-2 text-primary rounded text-base border-solid border-primary border-2 text-center hover:border-primary/80;
}

.icon-button {
  @apply px-0 bg-transparent text-primary text-center;
}

.text-field {
  @apply px-4 py-2 bg-background text-text rounded resize-none focus:placeholder:text-primary focus:outline-none focus:border-primary focus:caret-primary focus:text-primary focus:shadow-sm focus:shadow-primary focus:valid:border-success focus:valid:shadow-success focus:valid:placeholder:text-success focus:valid:text-success focus:valid:caret-success;
  border: solid 1.5px rgb(var(--color-text) / 0.2);
}

.textarea {
  @apply px-4 py-2 bg-background text-text rounded focus:placeholder:text-primary focus:outline-none focus:border-primary focus:caret-primary focus:text-primary focus:shadow-sm focus:shadow-primary focus:valid:border-success focus:valid:shadow-success  focus:valid:placeholder:text-success focus:valid:text-success focus:valid:caret-success;
  border: solid 1.5px rgb(var(--color-text) / 0.2);
}

.router-link-active {
  @apply opacity-50;
}

.progress-bar {
  width: 100%;
  display: flex;
  background-color: gainsboro;
}
.progress-bar::after {
  content: "";
  background-image: linear-gradient(
    45deg,
    rgb(var(--color-primary) / 0.85),
    rgb(var(--color-primary) / 0.4)
  );
  height: 0.3rem;
  width: 25%;
  position: relative;
  animation: gradient 5s linear forwards infinite;
}
