@font-face {
  font-family: "iransans";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/IRANSans_UltraLight.ttf) format("truetype");
}

@font-face {
  font-family: "iransans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/IRANSans_Light.ttf) format("truetype");
}

@font-face {
  font-family: "iransans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/IRANSans.ttf) format("truetype");
}

@font-face {
  font-family: "iransans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/IRANSans_Medium.ttf) format("truetype");
}

@font-face {
  font-family: "iransans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts//IRANSans_Bold.ttf) format("truetype");
}

@font-face {
  font-family: "iransans";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(../fonts/IRANSans_Black.ttf) format("truetype");
}
