@layer utilities {
  .bg-primary-gradient {
    background-image: linear-gradient(
      rgb(var(--color-primary)),
      rgb(var(--color-primary) / 0.6)
    );
  }

  .max-w-1366 {
    max-width: 1366px;
  }

  .line-clamp-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .line-clamp-3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .line-clamp-4 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    line-clamp: 4;
    -webkit-box-orient: vertical;
  }

  .line-height-normal {
    line-height: normal;
  }

  .h-main {
    height: calc(100vh - 56px);
  }

  .transition {
    transition: all 0.3s ease-out;
  }
}
