.bg-primary-gradient {
  background-image: linear-gradient(
    rgb(var(--color-primary)),
    rgb(var(--color-primary) / 0.6)
  );
}

.custom-shadow {
  box-shadow: 0px 0px 10px 4px rgb(0 0 0 / 0.1);
}

.max-w-1366 {
  max-width: 1366px;
}
